<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.accessibilitytest" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/pokeball_closed"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BadExampleActivity"
            android:label="@string/bad_examples"
            android:screenOrientation="portrait" >
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ImageExampleActivity"
            android:label="@string/imageview_example"
            android:screenOrientation="portrait" >
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".TextExampleActivity"
            android:label="@string/textview_example"
            android:screenOrientation="portrait" >
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".LayoutExampleActivity"
            android:label="@string/layout_example"
            android:screenOrientation="portrait" >
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MaterialActivity"
            android:label="@string/material_example"
            android:screenOrientation="portrait" >
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".LostFabActivity"
            android:label="@string/lost_fab_example"
            android:screenOrientation="portrait" >
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity" />
        </activity>
    </application>

</manifest>
